body {
    background-color: skyblue;
}
.inbox {
    margin-left: 40%;
    width: 20%;
    background: white;
    border-radius: 10px;
    border: 10px solid green;

}
.item {
    display: flex;
    align-items: center;
   border-bottom: 1px solid green;
}
p{
    display: inline-block;
    color: brown;
    margin-left: 10%;
    
}
input{
    margin-left: 10%;
}
input:checked+p{
    background: yellow;
    text-decoration: line-through;
}